.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  min-width: 120px;
  min-height:40px;
}

label {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 2px;
}

select {
  min-width: 200px;
  width: 200px;
}

button {
  letter-spacing: 2px;
}